<mat-card>
  <mat-card-header>
    <mat-card-title>{{ course.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ course.format }} - {{ course.location }}</mat-card-subtitle
    >
  </mat-card-header>
  <!-- <img mat-card-image [src]="courseImageUrl" alt="Course image"> -->
  <mat-card-content>
    <p>{{ course.description }}</p>
    <p>
      <b>Duration of the course:</b> {{ course.course_duration }},
      <b>Duration of the lesson:</b>
      {{ course.session_duration }}
    </p>
    <p><b>Days:</b> {{ course.days }}</p>

    <mat-accordion multi>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Check out the details</mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Program </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list>
            <mat-list-item *ngFor="let topic of course.topics"
              >{{ topic }}
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Teachers </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let instructor of course.instructors">
            {{ instructor.name }} - {{ instructor.bio }}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <h3>Reviews</h3>
    <div *ngFor="let review of course.studentReviews">
      <p>
        {{ review.name }}: {{ review.review }} (Rating: {{ review.rating }}/5)
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="goBack()">
      Back to all courses
    </button>
  </mat-card-actions>
</mat-card>
